---
//Layout import
import MainLayout from "../../layouts/MainLayout.astro";
//Library import
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { Image } from "@astrojs/image/components";
import { tagColor } from "../../js/utils";
//Content data import
export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries({
    content_type: "blogPost",
  });

  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      description: item.fields.description,
      category: item.fields.category,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
      image: {
        src: item.fields.image.fields.file.url,
        alt: item.fields.image.description,
      },
    },
  }));
  return pages;
}

//Astro props
const { title, description, content, image, category } = Astro.props;
---

<MainLayout>
  <!--Post header -->
  <header class="flex flex-col gap-10">
    <Image
      src={image.src}
      alt={image.alt}
      width={1920}
      aspectRatio="10:4"
      format="webp"
      fit="cover"
    />
    <div
      id="head-content"
      class="px-8% pb-10 flex flex-col items-center justify-center gap-2 text-center"
    >
      <small
        class:list={[
          "font-medium",
          "text-white",
          "text-[.5rem]",
          "px-2",
          "py-1",
          "rounded-full",
          tagColor(category),
        ]}>{category}</small
      >
      <h1 class="font-bold text-3xl uppercase">{title}</h1>
      <p class="text-xs w-3/4">{description}</p>
    </div>
  </header>
  <!--Post content -->
  <div class="px-8% pb-10 flex flex-col gap-2">
    {content}
  </div>
</MainLayout>
