---
//Component import
import BlogPostHeader from "../components/BlogPostHeader.astro";
import MainLayout from "./MainLayout.astro";

const { title, description, image, category, slug } = Astro.props;
---

<MainLayout {title} {description}>
  <BlogPostHeader {title} {description} {date} {author} {image} {category} />
  <div class="px-8% py-8">
    <slot />
  </div>
</MainLayout>
